* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.navbar-brand
{
  padding-left: 20px;
  padding-right: 100px;
  height: 60px;
  font-size: 30px;
}

.navbar-nav > li{
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 80px;
    color: #123C69;
}

.navbar-nav > li{
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-light .navbar-nav .nav-link:hover 
{
    color: #AC3B61 !important;
}

.carousel-item
{
    height: 30rem;
    position: relative; 
    background: #EDC7B7;
    color: #123C69;
}

.container
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.form input {
    min-width: 400px;
    display: block;
    margin: 20px;
    padding: 15px 20px;
    background-color: #ece7e7;
    font-size: 20px;
    border: none;
    outline: none;
    font-size: 22px;
    transition: box-shadow 0.5s;
}

.form input:focus {
    box-shadow: 5px 5px 15px #a8a8a8;
}

.form .btn {
    margin: auto;
    padding: 10px 35px;
    background-color: #000000;
    color: #fff;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    transition: box-shadow 0.5s;
    outline: none;
}

.form .btn:hover {
    box-shadow: 5px 5px 15px #aaa;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 50vw;
    position: absolute;
    bottom: 0px;
    font-size: 35px;
}

.left-section .form {
    float: left;
    margin: 35vh auto;
}

.right-section .form {
    float: right;
    right: 0;
    margin: 30vh auto;
}

.cover .switch-btn {
    position: absolute;
    bottom: 0;
    font-size: 25px;
    margin: 40vh auto;
    padding: 10px 55px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: box-shadow 0.5s;
    outline: none;
}

.cover .switch-btn:hover {
    box-shadow: 5px 5px 15px #aaa;
}

.left-section .cover {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left-section .cover img {
    height: 90vh;
    width: 50vw;
}

.left-section .cover h1 {
    position: absolute;
    bottom: 0px;
    margin: 60vh auto;
    color: #fff;
    font-size: 50px;
}

.left-section .cover h3 {
    position: absolute;
    bottom: 0px;
    margin: 50vh auto;
    color: #fff;
    font-size: 35px;
}

.left-section .cover-hide {
    visibility: hidden;
}

.left-section .form-hide {
    visibility: hidden;
}

.right-section .cover {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.right-section .cover img {
    height: 90vh;
    width: 50vw;
}

.right-section .cover h1 {
    position: absolute;
    bottom: 0px;
    margin: 60vh auto;
    color: #fff;
    font-size: 50px;
}

.right-section .cover h3 {
    position: absolute;
    bottom: 0px;
    margin: 50vh auto;
    color: #fff;
    font-size: 35px;
}

.right-section .cover-hide {
    visibility: hidden;
}

.right-section .form-hide {
    visibility: hidden;
}

.fade-in-element {
    animation-name: fade-in-element;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.center-item {
  text-align: center;
}

.btn-home {
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
}

.cover-gradient {
    background: linear-gradient(141deg, #d20000, #5400e1);
    background-size: 400% 400%;

    animation: fade-gradient 8s ease infinite;

    height: 90vh;
    width: 50vw;
}

@keyframes fade-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

@keyframes fade-in-element {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

.btn.btn-primary
{
    background: linear-gradient(45deg, #AC3B61 50%, #EAE7DC 50%);
    background-position: right bottom;
    background-size: 220% 100%;
    border: none;
    color: black;
}

.btn.btn-primary:hover
{
    background-position: left bottom;
    border: none;
    color: #fff
}

footer
{
    width: 100%;
    background-color: #EEE2DC;
    padding: 50px 0px;
    bottom: 0;
    position: absolute;
}